

/*MIS ESTILOS*/
body {
    background-color: #F3F4F6;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-weight: 400px;
    color: hsla(221, 39%, 11%, 1)
}

.container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-top: 48px;
    margin-bottom: 48px;
}

.article{
    font-size: calc(18/16 *1rem);
    line-height: 178%;
    font-weight: 300;
}
.article h1 {
    font-size: calc(36/16 *1rem);
    line-height: 111%; /*distancia entre lineas */
    margin-bottom: 32px;
}

.article h2{
    font-size: calc(30/16 *1rem);
    line-height: 133%;
    margin-top: 56px;
    margin-bottom: 24px;
}

article p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.article ul {
    padding-left: 24px;
}

.article blockquote{
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #D6D3D1;
    border-radius: 8px;
    padding: 18px 16px;
    font-weight: 400;
    font-style: italic;
}

.article figure {
    margin-top: 32px;
    margin-bottom: 32px;
}

.article figure img {
    border-radius: 8px;
}

.article figure figcaption {
    font-size: 1rem;
    line-height: 150%;
    margin-top: 16px;

}

.article a {
    font-weight: 400;
    color: hsla(335, 78%, 42%, 1);
}

.article strong {
    font-weight: 600;
}

.article em {
    font-style: italic;
}

.darkbox {
    background-color: hsla(30, 6%, 25%, 1);
    color: white;
    font-size: calc(30/13 *1rem);
    line-height: 120%;
    text-align: center;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;

}